@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Ma+Shan+Zheng&family=Madimi+One&family=Mouse+Memoirs&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
div#root {
    width: 100%;
    height: 100%;
}

.text-3d {
    text-shadow: 0px 0px 0 rgb(-340, -340, -338), -1px 1px 0 rgb(-425, -425, -423), -2px 2px 0 rgb(-510, -510, -508),
        -3px 3px 0 rgb(-595, -595, -593), -4px 4px 3px rgba(0, 0, 0, 0), -4px 4px 1px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(0, 0, 0, .2);
}


.glass {
    /* From https://css.glass */
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(76, 39, 90, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    /* border: 1px solid rgba(39, 34, 128, 0.07); */
}

input[type="text"]:focus {
    border: none;
    outline: none;
}

.custom-shadow {

    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.53);
}

.custom-text-shadow {

    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.53);
}


.animation-show {
    animation: showDash 2s forwards;
}


@keyframes showDash {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}